## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/
*.sln.iml

## Build
*.dll
*.exe
*.pdb
*.cache
*.nupkg
*.snupkg

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Publish
*.Publish.xml
*.azurePubxml
*.pubxml
*.publishproj

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Settings (user-specific)
FileSearchPro/settings/config.json

## MiMoCode
.mimocode/
